.PawMenu {
	background-color:var(--azul);
	width: 3rem;

	border-right: 3px solid black;
	overflow: hidden;

	/* para que no se rompa por los estilos de los demas archivos CSS */
	display: block;
}

.PawMenu.PawMenuCerrado {
	width: 3rem;
	transition-duration: 1s;
	transition-property: width;
}

.PawMenu.PawMenuCerrado ul {
	opacity: 0;
	transition: 1s all;
}

.PawMenu.PawMenuAbierto {
	width: 20rem;
	height: 40rem;
	transition-duration: 1s;
	transition-property: width;
}
.PawMenu.PawMenuAbierto ul {
	opacity: 1;
	transition: 1s all;
}

.PawMenu a {
	color:white;
	text-decoration: none;

}

.PawMenu ul {
	cursor: pointer;
	clear: both;
	display: list-item;
}

.PawMenu ul li ul {
	max-height: 0;
	overflow: hidden;
	transition: 1s all;
}

.PawMenu ul li:hover ul {
	max-height: 100vh;
	transition: 1s all;
}

.PawMenu ul li {
	display: block;
	padding: 0.5rem;
}

.PawMenu p {
	display: block;
	padding: 0.5rem;
	border-bottom: 2ps solid black;
}

.PawMenu > ul > li:hover {
	border: black solid 3px;
	border-width: 3px 0;
}



/* Funcionalidad Botón Hamburguesa */
.PawMenu button {
	float: right;
	border: 0;
	width: 2rem;
	height: 2rem;
	margin: 0.5rem;
	padding: 0;
	cursor: pointer;
	background-color: transparent;
	position: relative;
	overflow: hidden;
}

.PawMenu button:hover,
.PawMenu button:focus {
	margin-left: 0;
}

.PawMenu button::before,
.PawMenu button::after {
	display: block;
	position: absolute;
	content: " ";
	width: 2rem;
	height: 0.2rem;
	background-color: white;
	transition-property: all;
	transition-duration: 1s;
	border-radius: 0.2rem;
}

.PawMenu button.PawMenuAbrir::before {
	transform: translateY(-1rem) rotate(0);
	box-shadow: 0 0.6rem 0 white;
}

.PawMenu button.PawMenuAbrir::after {
	transform: translateY(0.2rem) rotate(0);
}

.PawMenu button.PawMenuCerrar::before {
	transform: translateY(0) rotate(45deg);
	box-shadow: 0 0.6rem 0 transparent;
}

.PawMenu button.PawMenuCerrar::after {
	transform: translateY(0) rotate(-45deg);
}
