html{
    height: 100%;
}

main{
    background-color: transparent;
}
main h2{
    font-weight: bold;
    font-size: larger;
    color: white;
}
main p{
    color: white;
}
main form{
    margin: 0.9em;
    width: 80%; 
    display: flex;
    flex-direction: column;
}
main form label{
    width: 100%; 
    display: block;
    text-align: left;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}
    main form label input{
        width: 98%;
        background-color: lightgrey;
        border: none;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 0.5em;
    }
.NAC-AGE{
    display: flex;
    align-items: center;
}
.label-nac{
    flex: 3 1 auto;
}
.label-output{
    display: flex;
    align-items: center;
    justify-content: center;
    border: groove;
    width: 20%;
    margin-top: 1em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}
.buttons-form{
    display: flex;
    text-align: center;
    margin: 0.2em;
}
    .buttons-form input{
        width: 50%;
        padding: 0.5em;
        margin: 0.5em;
        font-size: large;
    }
#inputSubmit{
    background-color: var(--azul);
    color: white;
    border: none;
}

@media (min-width: 768px) {
    .Formulario_Nuevo_Turno{
        width: 40%;
    }
}