html{
    height: 100%;
}

body{
    background: rgb(255,255,255);
    background: linear-gradient(62deg, rgba(255,255,255,1) 55%, rgba(21,61,112,1) 55%, rgba(21,61,112,1) 68%, rgba(0,173,216,1) 68%, rgba(0,173,216,1) 86.8%, rgba(255,255,255,1) 87%, rgba(90,199,228,1) 87%);
}

:root{
    --azul: #0c3f6a;
    --gris:#8b8a8f;
}
main{
    background-color: white;
}

main section {
    align-items: flex-start;
}
body > main > section.container-main-os > h2{
    font-weight: bold;
    font-size: larger;
    font-size: xx-large;
}

main form label{
    width: 100%; 
    display: block;
    text-align: left;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}
    main form label input{
        width: 98%;
        background-color: lightgrey;
        border: none;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 0.5em;
    }
.container-main-os{
    width: 90%;
}
    .container-main-os h2{
        font-weight: bold;
        font-size: xx-large;
        color: var(--azul);
    }
.list-result-os{
    display: flex;
    flex-direction: column;
    width: 80%;
    list-style: none;
    padding: 1em;
    font-size: x-large;
}   
    .list-result-os li::before{
        content: url(/imagenes/arrow-right.png);
    }
    .list-result-os li{
        display: flex;
        padding: 0.2em;
        align-items: center;
    }
    .os-search-form{
        width: 70%;
    }
        .os-search-form label{
            display:block;
        }
    .os-search-set{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #input-OS-search{
        flex: 4 1 auto;
        padding: 0.5em;
    }
    .botonBusqueda{
        background: url(/imagenes/Lupa-Buscar.png);
        background-size: 3em;
        background-repeat: no-repeat;
        background-position: center;
        padding: 1.5em;
    }

@media (min-width: 768px) {

    main{
        background-color: transparent;
    }
    .os-search-form{
        width: 40%;
    }
    .list-result-os{
        width: 60%;
    }
}