@font-face {
    font-family: equipo1Fonts;
    src: url("/fonts/Intro-Regular/Intro-Regular.ttf"); }

 *{
    font-family: equipo1Fonts;
    margin: 0;
    padding: 0;
 }

/* Variables */
:root {
    --main_bg_color:white;/*color del fondo*/
    --azul: #0c3f6a;
    --violeta:#4f2c80;
    --celeste:#00add8;
    --gris:#8b8a8f;
    --gris_fuerte:#424244;
    --celeste_footer: #51c4d3;
    --azul_footer: #153d70;
    --celeste_claro:#5ac7e6;

}

/** __________________Especialidades Y Profesionales.HTML --> Mobile_________________________*/
/** Contenedor Principal*/
.container-esp_pro{
    display: flex;
    flex-direction: column;
    align-items:center;
    border-radius: 1em;
}

.container-esp_pro ul{
    padding-bottom: 1em;
}

.container-esp_pro h2{
    text-align: center;
    color: var(--celeste);
    font-weight: bolder;
    font-size: 1.5em;
}

.container-esp_pro section h3{
    padding: 1em;
    font-size: 1.2em;
    color:var(--azul_footer);
    font-weight: bold;
}

.container-esp_pro section li{
    padding:0.5em 0;
    width: 100%;
    /* border-bottom: 0.1em solid var(--gris); */
    border-top: 0.1em solid var(--gris);
    border-right: 0.1em solid var(--gris);
    border-left: 0.1em solid var(--gris);
}

.container-esp_pro section{
    padding:0.5em 0;
}
    .container-esp_pro section label{
        display: block;
        text-align: start;
        padding: 0.5em 0;
        color: var(--gris_fuerte);
        font-weight: bolder;
    }

    .container-esp_pro form{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0.5em 0;
        padding: 0.5em 0;
        border:none
    }
    .container-esp_pro section form fieldset{
        display: flex;
    }

    .container-esp_pro section ul{
        width: 100%;
    }
    .container-esp_pro section ul li:last-child{
        border-bottom: 0.1em solid var(--gris);
    }
    
    .container-esp_prof fieldset{
        display: flex;
    }


/** Contenedor Profesionales*/
.container-prof{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    text-align: center;
}
    .container-prof article{
        display: grid;
        grid-template-areas: "cargo"
                             "nombre"  ;
        flex-direction: row;
        border: 0.1em solid var(--gris);
        width: 100%;
        padding: 1em;
        border-radius: 0.2em;
        margin: 0.5em 0;
    }

    .container-prof img{
        display: none;
    }
    .container-prof p{
        grid-area: cargo;
        padding: 0 0 1em 0;
        color: var(--gris_fuerte);
    }
    .container-prof h4{
        grid-area: nombre;
    }
    .container-prof a{
        padding: 0;
        font-weight: bolder;
        font-size: x-large;
        color: var(--celeste_footer);
        text-decoration: none;
    }
    .container-prof .button{
        grid-area: boton;
        color: white;
        padding: 15px 32px;
        width: 50%;
        margin: 0 auto;
        margin-top: 0.5em;
    }
/** Contenedor Especialidades*/
.container-esp{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
    .container-esp article{
        display: flex;
        flex-direction: row;
    }
    .container-esp a:hover{
        color:var(--celeste_claro)
    }
    .container-esp ul {
        list-style:none;
    }


section form input[type=text] {
    width: 80%;
    height: 2.5em;
    font-size: medium;
    padding: 0.5em;
}
section form input[type=submit] {
    width: 20%;
}

.arrow-right{
    padding:0.5em 0.2em;
    color: var(--gris_fuerte);
    text-decoration: none;
}
.arrow-right:before {
    content: url(/imagenes/arrow-right.png);
    vertical-align:middle;
    display:inline-block;
    padding:0em;
}
/** __________________FIN Especialidades Y Profesionales.HTML --> Mobile_________________________*/

/** __________________Especialidad.HTML --> Mobile_________________________*/
/** Contenedor Principal*/
.container-especialidad, .container-profesional{
    margin: 1em 0;
}

.container-especialidad h2 {
    display: none;
} 
.container-especialidad h3 {
    font-size: 2em;
    margin: 1em;
}

.container-especialidad nav, .container-profesional nav{
    padding-left: 1em
}

/** Contenedor Profesional --> interno de la Especialidad*/
.profesional{
    display: grid;
        grid-template-areas: "cargo"
                             "nombre"
                             "boton"   ;
        flex-direction: row;
        border: 0.1em solid var(--gris);
        width: 88%;
        padding: 1em;
        border-radius: 0.2em;
        margin: 0.5em;
        text-align: center;
}

/** clase generica de los sections */
.info-especialidad, .info-profesional{
    display: block;
    text-align: left;
    margin: 0.5em;
    border: 0.1em solid var(--gris);
    border-radius: 0.2em;
    width: 95%;
}
.info-especialidad h4 , .info-profesional h4{
    border-bottom: 0.1em solid var(--gris);
    padding: 0.5em;
    font-size: 1.2em;
}

.info-especialidad p, .info-profesional p{
    padding: 0.5em;
    color: var(--gris_fuerte);
    font-size: 1.2em;
}

.info-especialidad li, .info-profesional li{
    padding: 0.5em;
    font-size: 1.2em;
}
.info-especialidad li a, .info-profesional li a{
    text-decoration: none;
    font-size: 1em;
}

/** Contenedor de Horarios*/
.horarios{
    display: flex;
}
.horarios h4{
    width: 96%;
}
/** boton sacar turno dentro de horarios*/
.btn-especialidad{
    width: 80%;
    border-radius: 0.2em;
}

/** __________________FIN Especialidad.HTML --> Mobile_________________________*/

/** __________________Profesional.HTML --> Mobile_________________________*/
.container-profesional > section{
    padding: 1em 0 0 0;
    margin: 0;
    width: 95%;
}
.container-profesional h3,.container-profesional h2 {
    display: none;
   }
.container-profesional nav{
    padding-left: 1em
}
.container-profesional .info-profesional{
    width: 100%;
}
.container-profesional .profesional{
    width: 91%;
}

.container-profesional .horarios h4{
    width: 95%;
}

/** __________________FIN Profesional.HTML --> Mobile_________________________*/




@media (min-width: 768px) {
/** __________________Especialidades Y Profesionales.HTML --> Desktop_________________________*/
/** Contenedor Principal*/
.container-esp_pro{
    display: grid;
    grid-template-areas: "mini-nav        mini-nav"
                         "title           title"   
                         "especialidades  profesionales"
                         ;
    grid-template-rows: 1% 5% 94%;
    grid-template-columns: auto;
    grid-column-gap:1em;
    align-items: unset;
    text-align: center;
    margin:5em;
    padding: 1em;
    -webkit-box-shadow: 2px 0px 23px -1px #000000; 
    box-shadow: 2px 0px 23px -1px #000000;
}
.container-esp_pro h2{
    grid-area: title;
    margin: 1em;
    font-size: 3em;
}
.container-esp_pro section h3{
    font-size: 2em;
}

.container-esp_pro nav{
    grid-area: mini-nav;
    padding-left: 1em
}
.container-esp_pro section{
    margin: 1em 2em;
    padding: 1em;
    width: auto;
    display: block;
}

.container-esp_pro ul li{
    text-align: left;
}
.container-esp_pro article {
    text-align: left;
    padding: 0;
}
.container-esp_pro ul{
    margin: 0;
}
    /** Contenedor de Profesionales*/
    .container-prof{   
        grid-area: profesionales;
        
    }
    .container-prof article, .profesional{
        grid-template-areas: "foto  cargo"
                             "foto  nombre"
                             "foto boton";
        grid-template-rows: auto;
        grid-template-columns: 20% 80%;
        /* grid-template-rows: 30% 50 20%; */
        grid-column-gap:1em;
        width: 90%;
    }
    .container-prof img , .profesional img{
        display: block;
        height: 5em;
        width: 5em;
        grid-row: 1/2 span;
        grid-area: foto;
    }
    .auxiliar img{
        height: 9em;
        width: 9em;
    }
    
    .container-prof p, .profesional p{
        margin-left: 1em;
        padding-top: 1em;
        padding-left: 1em;
        grid-area: cargo;
    }
    .container-prof h4, .profesional h4{
        grid-area: nombre;
        margin-left: 1em;
        padding-top: 1em;
        padding-left: 1em;
        position: unset;
    }
    .container-prof > .button{
        grid-area: boton;
    
    }
    .container-prof form{
        width: 90%;
    }
    /** Contenedor de Especialidades*/
    .container-esp{
        grid-area: especialidades;
    }
    .container-esp li{
        font-size: 1.2em;
    }
    

   
/** __________________FIN Especialidades Y Profesionales.HTML --> Desktop_________________________*/

/** __________________Especialidad.HTML --> Desktop_________________________*/
/** Contenedor Principal*/
.container-especialidad, .container-profesional {
    margin:5em;
    padding: 3em;
    -webkit-box-shadow: 2px 0px 23px -1px #000000; 
    box-shadow: 2px 0px 23px -1px #000000;
    border-radius: 1em;
}
    .container-especialidad h2, .container-profesional h2{
        font-size: 3em;
    }
    .container-especialidad > section{
        display: grid;
        grid-template-areas: "titulo      titulo"
                            "coordinador coordinador"
                            "descripcion descripcion"
                            "profesionales   profesionales";
        grid-template-rows: auto;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        grid-column-gap:1em;
    }

    .container-especialidad h3{
        grid-area: titulo;
        grid-column: 1/2 span;
        text-align: center;

        font-weight: bolder;
        font-size: 1.5em;
        margin: 1em 0;
    }
    /** Contenedor de lista de Profesionales*/
    .profesionales .arrow-right:hover{
        color:var(--celeste_claro)
    }

    /** clase generica de los sections */
    .info-especialidad, .info-profesional{
        display: block;
        text-align: left;
        margin: 0.5em;
        border: 0.1em solid var(--gris);
        border-radius: 0.2em;
        width: auto;
    }
    .info-especialidad h4, .info-profesional h4 {
        border-bottom: 0.1em solid var(--gris);
        padding: 0.5em;
        font-size: 1.3em;
    }

    .info-especialidad p, .info-profesional p{
        padding: 0 3em;
        color: var(--gris_fuerte);
        font-size: 1.2em;
    }

    .info-especialidad li, .info-profesional li{
        padding: 0.5em;
        font-size: 1.2em;
    }
    .info-especialidad li a, .info-profesional li a{
        text-decoration: none;
        font-size: 1em;
    }
    /** Section de info del profesional--> Coordinador de la Especialidad*/
    .profesional{ 
        grid-area: coordinador;
    }

    /** Section de info de Horarios*/
    .horarios{
        display: flex;
        grid-area: horarios;
        height: 88%;
    }
    /** boton dentro del contenedor de horarios*/
    .btn-especialidad{
        width: auto;
        border-radius: 0.2em;
    }

    /** Section de descripcion*/
    .descripcion{
        grid-area: descripcion;
        grid-column: 1/2 span;
    } 
    .descripcion p{
        padding: 1em;
    }
    /** Section de info del practicas*/
    .practicas{
        grid-area: practicas;
    } 
    /** Section lista deprofesionales*/
    .profesionales{
        grid-area: profesionales;
    } 


/** __________________FIN Especialidad.HTML --> Desktop_________________________*/

/** __________________Profesional.HTML --> Desktop_________________________*/
.container-profesional > section{
    width: auto;
    display: grid;
    grid-template-areas:"datos horarios"
                        "os_atiende os_atiende";
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-column-gap:1em;

}
.container-profesional h3,.container-profesional h2 {
 display: none;
}

.container-profesional .profesional{
    grid-area: datos;
}
.container-profesional .horarios{
    grid-area: horarios;
}
.container-profesional .os-atiende{
    grid-area: os_atiende;
}

/** __________________FIN Profesional.HTML --> Desktop_________________________*/


}