@font-face {
    font-family: equipo1Fonts;
    src: url("/fonts/Intro-Regular/Intro-Regular.ttf"); }

 *{
    font-family: equipo1Fonts;
    margin: 0;
    padding: 0;
 }

/* Variables */
:root {
    --main_bg_color:white;/*color del fondo*/
    --azul: #0c3f6a;
    --violeta:#4f2c80;
    --celeste:#00add8;
    --gris:#8b8a8f;
    --celeste_footer: #51c4d3;
    --azul_footer: #153d70;
    --celeste_footer: #51c4d3;
}


p{
    color: var(--gris);
}

/** Header*/

header {
    display: flex;
    flex-wrap: nowrap;
    background-color: var(--main_bg_color);
    border-bottom:0.1em solid var(--azul);
    height: 5em;
    margin-bottom: 1em;
    /** Fijando header*/
    width: 100%;
	left: 0;
	top: 0; 
	position: sticky; 
    font-weight: bolder;
    font-size:x-large;
    color: var(--azul_footer);
}   
    header h2{
        display: none;
    }
    header span{
        color: var(--azul_footer);
    }
    /** Nombre de la Empreasa e imagen*/
    .logo-link{
        flex:5 1 auto;
        display: flex;
        padding: 0.2em;
        font-size: 1em; 
        align-items: center;
    }
        .logo-link a{
            padding: 0 1em;
            display: flex;
            width: 10em;
            height: 4em;
            text-decoration: none;
            color: var(--azul); 
            align-items: center;
        }
        .logo-link .logo{
            margin:0 2em 0 1em;
            width: 3em; 
            height: 4em; 
            background: var(--celeste);
            transform: skew(24deg);
        }
    /** numeros de telefono*/
    header ul{
        display: none;/** no debe aparece en la version mobile*/
    }

    /** Fin Barra de Navegacion*/
    
    .login-menu{
        padding-top: 0.5em;
    }
    /** Menu Hamburguesa*/
    .menu-ham{
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        margin: 0 0.7em 0 0;
        justify-content: center;
    }
        .menu-ham span{
            width: 1.6em; 
            height: 0.3em; 
            margin: 0.1em 0;
            background-color:#0e3f68;
        }
        .menu-ham h4{
            display: none;
        }
/** Fin Header*/

/** Main*/
body{
    color: var(--gris)
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin:0.65em;
    color: var(--azul);
}
    main > nav{
        width: 100%;
    }
        main > nav ul{
            display: flex;
            list-style:none;
        }
        /* body > main > nav > ul > li:not(li:last-child) > a::before{
            content:"  -  ";
        } */
        body > main > nav > ul > li:nth-child(2) > a::before{
            content:"  -  ";
        }
        body > main > nav > ul > li:nth-child(3) > a::before{
            content:"  -  ";
        }

main figcaption{
    color: var(--celeste);
}

    main figcaption p{
        color:var(--celeste);
    }

main h3{
    color: var(--azul);
    font-weight: bolder;
    font-size: larger;
    text-align: center;
}
    main section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        main section article {
            display: flex;
            flex-direction: column;
            align-items: center;
            box-sizing: border-box;
        }

        main section article h2{
            text-align: center;
            padding: 0.3em;
        }

        main section h1{
            text-align: center;
            margin: 0  0 0.2em 0;
        }

        main section article p{
            padding: 1em;
        }

        
        main img{
            margin: 0.9em;
            width: 80%;
        }

        main form{
            margin: 0.9em;
            width: 90%; 
        }
            main form label{
                width: 100%; 
                display: block;
                text-align: center;
                font-size: large;
            }
            main form p {
                width: 100%;
                display: flex;
                justify-content:center;
                margin-left: 0.3em;
                margin-right: 0.3em;
            }
            main form p input{
                width: 97%;
                padding:1em 1em 1em 3em ;
                border-radius: 0.7em;
                font-size: 1.1em;
            }
            .noticias-home figcaption{
                padding-left: 1em;
            }
                .noticias-home article p:nth-child(3)::first-letter{
                    font-size: 800%;
                    font-weight: bolder;
                    float:left;
                    color: var(--azul_footer);
                }
        main .form-home{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
            main .form-home button{
                background: url(/imagenes/Lupa-Buscar.png);
                background-size: 3em;
                background-repeat: no-repeat;
                padding: 1.5em;
            }
            main .form-home input{
                flex: 4 1 auto;
                padding: 0.5em;
                height: 2em;
            }
            main .form-home span{
                width: 70%;
            }
            main .form-home label{
                width: 100%;
            }
        main .form-home .home-search-set{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
                
            
        .avisos{
            border: 0.2em solid;
            border-radius: 0.3em;
            border-color: var(--violeta);
        }
            .avisos h2{
                color:var(--azul);
                font-size: larger;
            }
            .avisos article{
                padding: 0.3em;
                border: 0.1em solid var(--violeta);
                width: 100%;
            }
                .avisos article h2{
                font-size: 1.2em;
                }
                .avisos article p{
                    font-size: 0.9em;
                }
    
    .container-tel{
        position: fixed;
        right: 1em;
        bottom: 1em;
    }
    .container-tel > ul{
        display: none;
    }

    .telefonoVerde::before {
        content:"";
        background-image: url("/imagenes/telefonoVerde.png");
        background-size: 5em;
        background-repeat: no-repeat;
        width: 5em;
        height: 5em;
        padding-left: 0.2em;
        display:inline-block;
    }
    
    .container-tel h2{
        display: none;
    }
    
    .login-menu::before{
        content:"";
        background-image: url("/imagenes/login.png");
        background-size: 4em;
        background-repeat: no-repeat;
        width: 4em;
        height: 4em;
        display:inline-block;
    }
    
    .login-menu{
        margin-right: 2em;
    }
    
    
    
    form{
        background-color: white;
        padding: 1em;
        border: solid;
        border-radius: 1em;
    }

    form span {
        text-align: center;
        display: block;
    }
    
    #input-all-search{
        width: 95%;
    }
    
    .button{
        background-color: var(--azul);
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        width: fit-content;
        margin-top: 1em;
        border-radius: 12px;
    }
    
    .presentacion h2{
        text-align: left;
    }
    .presentacion h4{
        display: none;
    }
    
/** Fin Main*/


/* Footer */

footer a{
    text-decoration: none;
}

footer ul{
    list-style: none;
}
    footer{
        background-color: rgb(252, 251, 249);
    }
        /* Logo */
        .logo-link-footer{
            flex:5 1 auto;
            display: flex;
            padding: 0.2em;
            font-size: 0.8em; 
            align-items: center;
            display: flex;
            justify-content: center;
            padding: 2rem;
        }
            .logo-link-footer a{
                padding: 0 1em;
                display: flex;
                width: 10em;
                height: 3em;
                text-decoration: none;
                color: var(--azul); 
                align-items: center;
            }
            .logo-link-footer .logo{
                margin:0 2em 0 1em;
                width: 2.5em; 
                height: 3.5em; 
                background: var(--celeste);
                transform: skew(24deg);
            }
        /* Direcciones */
        footer address {
            text-align: center;
            padding: 2em;
        }
        
        /* Social */
        footer nav ul{
            display: flex;
            padding: 2em;
            justify-content: center;
        }
        footer nav a{
            display: flex;
            justify-content: center;
            border-style: solid;
            border-color: black;
            margin: 0.5em;
        }
        footer nav span{
            margin: 0.3em;
        }
            .icon-face{
                background: url(/imagenes/facebook.svg);
                background-repeat: no-repeat;
                background-size: 3em;
                width: 3em;
                height: 3em;
                background-color: black;
                filter: invert(1);
            }
            .icon-Twitter{
                background-image: url(/imagenes/twitter.png);
                background-repeat: no-repeat;
                background-size: 3em;
                width: 3em;
                height: 3em;
                background-color: black;
                filter: invert(1);
            }
            .icon-Insta{
                background: url(/imagenes/instagram.png);
                background-repeat: no-repeat;
                background-size: 3rem;
                width: 3rem;
                height: 3rem;
                background-color: black;
                filter: invert(1);
            }
            .icon-LinkedIn{
                background: url(/imagenes/linkedin.png);
                background-repeat: no-repeat;
                background-size: 3em;
                width: 3em;
                height: 3em;
                background-color: black;
                filter: invert(1);
            }
    /* copyright */
    footer p{
        padding:0.5em;
        text-align: center;
    }
    .presentacion figcaption{
        position: relative;
        bottom: 10em;
        left: 2em;
        color: var(--celeste);
        font-size:medium;
        font-weight:bolder;
        line-height: 1.5;
    }

    /*Se oculta al icono de login para la version mobile, asi se le da más aire*/
    .login-menu{
        display: none;
    }

@media (min-width: 768px) {
    
    .PawMenu{
        display: none;
    }
    
    .login-menu{
        display: inline;
    }
    body{
        background: rgb(255,255,255);
        background: linear-gradient(62deg, rgba(255,255,255,1) 55%, rgba(21,61,112,1) 55%, rgba(21,61,112,1) 68%, rgba(0,173,216,1) 68%, rgba(0,173,216,1) 86.8%, rgba(255,255,255,1) 87%, rgba(90,199,228,1) 87%);
        background-size: 100% 200%;
    }
    
    footer{
        position: static;
        bottom: 0;
    }
    /** Header*/
    header{
        height: 4.5em;
    }
        .logo-link{
            font-weight: bold;
            display: flex;
            font-size: 0.9em;
        }
            .logo-link a{
                display: flex;
                width: 11em;
                height: 2em;
                text-decoration: none;
                color: var(--azul); 
                align-items: center;
            }

            .logo-link .logo{
                margin:0 2em;
                width: 3em; 
                height: 4em; 
                background: var(--celeste);
                transform: skew(25deg);
            }
        /** numeros de telefono*/
        header ul{
            display: flex;
            align-items: center;
            
        }
            header ul li {
                list-style-type: none;
                font-size: 0.8em;
                padding: 0 0.5em;
                color: var(--azul);
            }
        /** Barra de Navegacion*/
        header nav{
            display: flex;
            align-items: center;
            margin: 0 0.3em;
        }
            header nav a{
                text-decoration: none;
                color: var(--azul);
                text-align: center;
                height: 100%;
                display: flex;
                align-items: center;
            }
            header nav ul{
                height: 100%;
            }
            header nav li{
                display: flex;
                align-items: center;
                height: 100%;
                list-style-type: none;
                font-size: 0.9em;
                font-weight: lighter;
            }   
            header nav li:hover{
                border-left: 0.2em solid var(--celeste);
                border-right: 0.2em solid var(--celeste);
                font-weight: bolder;
                border-bottom: 0.2em solid var(--azul);
                transition: 0.1s;
            }
        /** Fin Barra de Navegacion*/

        /** links del header--> contiene la img del login*/
        .login-menu{
            padding-top: 0.2em;
        }
        
        /** Menu Hamburguesa*/
        .menu-ham{
            display: none;
        }

        /* Body */
            main{
                background-color: white;
            }
    /* Footer */
    footer{
        display: grid;
        grid-template-areas: 
            "social         social      social      social"
            "direccion      direccion   direccion   logo"
            "copyright      copyright   copyright    copyright";
        grid-template-columns: 1fr 1fr 1.2fr;
        color: white;
        background-color: var(--celeste_footer);
        border: 0.1em solid black;
        }
            footer p{
                color: white;
            }
            footer ul{
                padding: 0.5em;
            }

            /* Social */
            footer nav{
                grid-area: social;
            }
                footer nav ul{
                    display: flex;
                    align-items: center;
                    padding: 0em;
                }
                footer nav ul li{
                    flex: 1 1 auto;
                }
                footer nav a{
                    display: flex;
                    justify-content: center;
                    border-style: none;
                    margin: 0em;
                }
                    #iconoF{
                        background: rgb(84, 1, 84);
                    }
                    #iconoT{
                        background: rgb(106, 55, 106);
                    }
                    #iconoI{
                        background: rgb(133, 76, 133);
                    }
                    #iconoL{
                        background: rgb(163, 119, 163);
                    }
                        .icon-face{
                            background: url(/imagenes/facebook.svg);
                            width: 2.2em;
                            height: 2.2em;
                            filter: none;
                            
                        }
                        .icon-Twitter{
                            background-image: url(/imagenes/twitter.png);
                            background-repeat: no-repeat;
                            background-size: 2.2em;
                            width: 2.2em;
                            height: 2.2em;
                            filter: none;
                            background-color: transparent;
                        }
                        .icon-Insta{
                            background: url(/imagenes/instagram.png);
                            background-repeat: no-repeat;
                            background-size: 2em;
                            width: 2.2em;
                            height: 2.2em;
                            filter: none;
                        }
                        .icon-LinkedIn{
                            background: url(/imagenes/linkedin.png);
                            background-repeat: no-repeat;
                            background-size: 2em;
                            width: 2.2em;
                            height: 2.2em;
                            filter: none;
                        }

            /* Direcciones */
            footer address{
                grid-area: direccion;
                text-align: left;
                padding: 1rem;   
                color: white;
            }

            footer address p{
                text-align: left;   
            }
            
            /* logo */
            .logo-link-footer{
                font-weight: bold;
                display: flex;
                font-size: 0.9em;
                grid-area: logo;
                margin: 2rem;
            }
                .logo-link-footer a{
                    display: flex;
                    width: 11em;
                    height: 2em;
                    text-decoration: none;
                    color: var(--main_bg_color); 
                    align-items: center;
                }

                .logo-link-footer .logo{
                    margin:0 2em;
                    width: 3em; 
                    height: 4em; 
                    background: var(--main_bg_color);
                    transform: skew(25deg);
                }

            /*Facundo: - Este selector no estaba teniendo efecto en la página
                /* copyright 
            footer > p{
                grid-area: copyright;
                padding: 1rem;
                background-color: var(--azul_footer);
            }
            */
            footer a{
                color:var(--azul);
            }
        /* Fin Footer */

        .presentacion figcaption{
            position: relative;
            bottom: 7em;
            left: 3em;
            color: var(--celeste);
            font-size: xx-large;
            font-weight: bolder;
            line-height: 1.5;
            width: 80%;
            margin: 0px;
        }
    
    #input-all-search{
        width: 98%;
    }

    main .form-home button{
        width: 7em;
        background-position: center;
    }

}   /* Fin querie */




/* imagenes del body */
/** Logo de la empresa en Footer*/
footer a h3 img{
    width: 3em;
    height: auto;
}

/** imagen del login*/
.login-menu{
    width: 2.5em;    
    height: auto;
}

/** Imagenes de los sections del home*/
section picture img, section img, img{
    width: 20em;
    height: auto;
}

.presentacion img{
    width: 80%;
}

.mensaje-al-usuario-exitoso::after{
    content: "";
    background-image: url("/imagenes/exitoIcon.png");
    background-size: 5em;
    background-repeat: no-repeat;
    width: 5em;
    height: 5em;
    grid-area: imagen;
    grid-row-start: imagen;
    grid-row-end: imagen;
    grid-row: 1/2 span;
}

.mensaje-al-usuario-exitoso{
    background-color:lightgreen ;
    border: darkgreen solid 0.1em;
    align-self: center;
    text-align: center;
    align-items: center;
    padding:1em;
    display: grid;
    grid-template-areas: "imagen titulo" "imagen mensaje";
    grid-template-columns: 20% 80%;

}

.mensaje-al-usuario-exitoso p{
    color: var(--azul);
    grid-area: mensaje;
    margin-left: 1em;
}

.mensaje-al-usuario-exitoso h2{
    grid-area: titulo;
}

.mensaje-al-usuario-error p{
    color: var(--azul);
    grid-area: mensaje;
    margin-left: 1em;
}
.mensaje-al-usuario-error{
    background-color:lightcoral ;
    border: darkred solid 0.1em;
    align-self: center;
    text-align: center;
    align-items: center;
    padding:1em;
    display: grid;
    grid-template-areas: "imagen titulo" "imagen mensaje";
    grid-template-columns: 20% 80%;
}

.mensaje-al-usuario-error h2{
    grid-area: titulo;
}

.mensaje-al-usuario-error::after{
    content: "";
    background-image: url("/imagenes/errorIcon.png");
    background-size: 5em;
    background-repeat: no-repeat;
    width: 5em;
    height: 5em;
    grid-area: imagen;
    grid-row-start: imagen;
    grid-row-end: imagen;
    grid-row: 1/2 span;
}
